.container {
     display: grid;
     grid-template-rows: 80px 100px;
     grid-template-columns: auto auto;
     border:1px solid #ddd;
}
 .child {
     padding: 5px;
     background: #d4e6f1;
     margin: 5px;
}
 .child-1 {
     justify-self: start;
}
 .child-2 {
     justify-self: end;
}
 .child-3 {
     justify-self: center;
}
 .child-4 {
     justify-self: stretch;
}
