.green {
   line-height: 1.1;
   border: solid limegreen;
 }

 .red {
   line-height: 110%;
   border: solid red;
 }

 h1 {
   font-size: 30px;
 }

 .box {
     width: 160px;
     display: inline-block;
     vertical-align: top;
     font-size: 15px;
 }
